Áp dụng các biến màu vào card
.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.medal-wrapper img {
  max-width: 80px;
  height: auto;
}

.list-group-item {
  background-color: transparent;
  color: var(--list-text);
  display: flex;
}

.cardItem-body {
  max-height: 300px;
  overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá chiều cao tối đa */
}

/* Ẩn thanh cuộn */
.cardItem-body::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên webkit browsers (Chrome, Safari, Edge) */
}
